body {
  background-color: snow;
}

/* .main-heading {
  color: indigo;
} */

/* .team-member {
  width: 256px;
}

.team-member p {
  opacity: 0.8;
}

#anna {
  background-color: darkcyan;
  color: beige;
}

#anna h2,
#anna h3 {
  color: honeydew;
} */
